html {
    background-image: url("img/background.jpg");
    }
    
#main-container {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    font-family: 'Indie Flower', cursive !important;
}

#board-frame {
    width: 600;
    height: 600;
    padding: 30px;
    box-sizing: border-box;
    background: black;
    box-shadow: 1px 1px 18px;
    border-radius: 15px;
    position: relative;
    border-bottom: 5px solid black;
    border-right: 5px solid black;
}

.h-markers-container {
    line-height: 30px;
    position: absolute;
    display: flex;
    width: 560px;
    left: 20px;
    box-sizing: border-box;
    height: 30px;
    top: 0;
    flex-wrap: nowrap;
}

.h-markers {
    height: 100%;
    box-sizing: border-box;
    width: 100%;
    color: white;
    text-align: center;
}

.v-markers-container {
    line-height: 40px;
    position: absolute;
    display: flex;
    width: 32px;
    box-sizing: border-box;
    height: 560px;
    top: 12px;
    left: -1px;
    flex-direction: column;
    flex-wrap: nowrap;
}

.v-markers {
    height: 100%;
    margin-top: 22px;
    box-sizing: border-box;
    width: 100%;
    color: white;
    text-align: center;
}

#board {
    width: 540px;
    height: 540px;
    background-image: url('img/board.jpg');
    position: relative;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid white;
}

.square {
    width: 37px;
    height: 37px;
    position: absolute;
    /* border: 1px solid red; */
}

.disc {
    width: 37px;
    height: 37px;
    position: absolute;
    background-image: url('img/lodestones.png');
    background-size: auto 100%;
    border-radius: 50%;
    box-shadow: 2px 2px 5px black;
}
.disc[data-color="ffffff"] { background-position-x: 0%; }
.disc[data-color="000000"] { background-position-x: 100%; }

.emptyPositions {
    cursor: pointer;  
}

.possibleMoves {
    background: white;
    opacity: 0.5;
    border-radius: 50%;
}

.last-move-display-container {
    min-width: 170px;
    margin-left: 20px;
    background: linear-gradient(to bottom, #9b9a9a, #9b9a9a);
    border: none;
    border-radius: 10px;
    position: relative;
    box-shadow: 4px 4px 4px black;
    display: inline-block;
    padding: 5px;
    border-bottom: 2px solid #414141;
    border-right: 3px solid #414141;
}

.last-move-slot {
    width: 100%;
    border: none;
    border-bottom: 3px solid black;
    border-right: 2px solid black;
    height: 150px;
    border-radius: 7px;
    box-sizing: border-box;
    margin-bottom: 5px;
    background: linear-gradient(white, #bfbab6);
    box-shadow: 2px 2px 4px black;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-box-black {
    width: 100%;
    border: none;
    border-bottom: 3px solid black;
    border-right: 2px solid black;
    height: 150px;
    border-radius: 7px;
    box-sizing: border-box;
    margin-bottom: 5px;
    background-color: black;
    border: 2px solid white;
    box-shadow: 2px 2px 4px black;
    position: relative;
    display: block;
    z-index: 1;
}

.user-box-white {
    width: 100%;
    border: none;
    border-bottom: 3px solid black;
    border-right: 2px solid black;
    height: 150px;
    border-radius: 7px;
    box-sizing: border-box;
    margin-bottom: 5px;
    background-color: white;
    border: 2px solid black;
    box-shadow: 2px 2px 4px black;
    position: relative;
    display: block;
    z-index: 1;
}

.stone-box {
    height: 45px;
    font-size: 29px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}

#balance-slider {
    width: 80px;
    height: 280px;
    background-image: url('img/slider-bg.jpg');
    margin: 0 27% 4px;
    position: relative;
    box-shadow: 5px 0px 5px;
}

#slider {
    /* top: 110px;
    left: 13%; */
    width: 50px;
    height: 50px;
    background-image: url(img/slider.png);
    position: absolute;
    background-size: auto 100%;
    border-radius: 50%;
    box-shadow: 5px 2px 5px black;
    z-index: 0;
}

.pay-btn-container {
    height: 35px;
    align-items: center;
    display: flex;
}

#pay-btn-black {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    background-image: url(img/pay-btn-2.png);
    left: 10px;
    position: relative;
    cursor: pointer;
}

#pay-btn-white {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    background-image: url(img/pay-btn-1.png);
    left: 10px;
    position: relative;
    cursor: pointer;
}

.lodestone-black {
    color: white;
}

.lodestone-white {
    color: black;
}

.last-move-slot-container {
    height: 65px;
}

.score-container {
    display: flex;
    width: 70%;
    margin: 0 auto;
    height: 200px;
    margin-top: 10px;
    min-width: 650px;
}

.score-inner-container {
    width: 50%;
    height: 100%;
    position: relative;
}

.name-black {
    margin: 10px auto;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid black;
    width: 300px;
    border-radius: 22px;
    padding: 8px;
    color: white;
    font-weight: bold;
    font-size: 19px;
    background: linear-gradient(to bottom, black, grey);
    position: relative;
    height: 37px;
    box-shadow: 2px 2px 3px black;
    font-family: 'Indie Flower', cursive;
    line-height: 21px;
    letter-spacing: 3px;
}

.name-white {
    margin: 10px auto;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid black;
    width: 300px;
    border-radius: 22px;
    padding: 8px;
    color: black;
    font-weight: bold;
    font-size: 19px;
    background: linear-gradient(to top, white, grey);
    position: relative;
    height: 37px;
    box-shadow: 2px 2px 3px black;
    font-family: 'Indie Flower', cursive;
    line-height: 21px;
    letter-spacing: 3px;
}

.tile-container {
    position: relative;
    height: 100px;
}

.score-tile {
    width: 250px;
    height: 120%;
    margin: 0 auto;
    border-radius: 75%;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 1px 1px 18px black;
    font-family: 'Indie Flower', cursive;
}

.onboard-box-black {
    position: relative;
    font-size: 12px;
    left: 15px;
    color: white;
}

.onboard-box-white {
    position: relative;
    font-size: 12px;
    left: 15px;
    color: black;
}

.ready-box-black {
    position: relative;
    font-size: 12px;
    top: 2px;
    left: 15px;
    color: white;
}

.ready-box-white {
    position: relative;
    font-size: 12px;
    top: 2px;
    left: 15px;
    color: black;
}

.score-box-black {
    position: relative;
    font-size: 12px;
    top: 4px;
    left: 15px;
    color: white;
}

.score-box-white {
    position: relative;
    font-size: 12px;
    top: 4px;
    left: 15px;
    color: black;
}

.onboard {
    font-size: 13px;
}

.ready {
    font-size: 13px;
}

.score {
    font-size: 13px;
}

#active-player {
    border-radius: 50%;
    left: 95px;
    width: 30px;
    height: 30px;
    background-image: url(img/active.png);
    position: relative;
    animation: fadein 1s forwards;
}

#dark-shroud {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    border: 1px solid black;
    width: 100%;
    top: 0;
    left: 0;
    padding-bottom: 100%;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
}

#win-lose-draw {
    position: fixed;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
    color: #ffca00;
    width: 100%;
    text-align: center;
    font-size: 40px;
    text-shadow: 1px 1px 1px #856900, 1px 2px 1px #856900, 1px 3px 1px #856900, 1px 4px 1px #856900, 1px 5px 1px #856900, 1px 6px 1px #856900, 1px 7px 1px #856900, 1px 8px 1px #856900, 1px 9px 1px #856900, 1px 10px 1px #856900, 1px 18px 6px rgba(16, 16, 16, 0.4), 1px 22px 10px rgba(16, 16, 16, 0.2), 1px 25px 35px rgba(16, 16, 16, 0.2), 1px 30px 60px rgba(16, 16, 16, 0.4);
    opacity: 0;
}

#pay-message {
    border: 1px solid white;
    width: 450px;
    height: 250px;
    position: fixed;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    background: linear-gradient(to bottom, #ff920b, #F5E49B);
    border: none;
    border-radius: 15px;
    opacity: 0;
}

.msg-button {
    margin: 10px auto;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid black;
    width: 380px;
    border-radius: 22px;
    padding: 8px;
    color: white;
    font-weight: bold;
    font-size: 19px;
    background: linear-gradient(to bottom, black, grey);
    position: relative;
    height: 37px;
    box-shadow: 2px 2px 3px black;
    font-family: 'Indie Flower', cursive;
    line-height: 21px;
    letter-spacing: 3px;
}

.msg-cancel-button {
    margin: 10px auto;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid black;
    width: 380px;
    border-radius: 22px;
    padding: 8px;
    color: white;
    font-weight: bold;
    font-size: 19px;
    background: linear-gradient(to bottom, red, black);
    position: relative;
    height: 37px;
    box-shadow: 2px 2px 3px black;
    font-family: 'Indie Flower', cursive;
    line-height: 21px;
    letter-spacing: 3px;
}

.msg-confirm-button {
    margin: 10px auto;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid black;
    width: 380px;
    border-radius: 22px;
    padding: 8px;
    color: white;
    font-weight: bold;
    font-size: 19px;
    background: linear-gradient(to bottom, blue, black);
    position: relative;
    height: 37px;
    box-shadow: 2px 2px 3px black;
    font-family: 'Indie Flower', cursive;
    line-height: 21px;
    letter-spacing: 3px;
}